.cta {
    background-color: #BB0000;
    color: white;
    font-size: 1em;
    padding: 10px 80px;
    border-radius: 5px;
    text-transform: uppercase;
    overflow: hidden;
    display: inline-block;
    position: relative;
}

.cta:before { 
    content: "";
    padding: 10px;
    background: #fff;
    transform: rotate(45deg);
    position: absolute;
    height: 100px;
    top: -40px;
    left: -100px;
    transition: left ease-in-out 1s;
    opacity: 0.3;
}

.cta:hover:before {
    left: 110%;
}

.cta-small {
    font-size: 0.8em;
    padding: 8px 30px;
    grid-column: 2;
    grid-row: 2;
    min-width: 51.2px;
    text-align: center;
    margin-top: 5px;
}

.cta-sale {
    background-color:#127300;
}

a { 
    text-decoration: none;
}

.active {
    text-decoration: underline;
}
