@font-face {
    font-family: 'Boots And Spurs';
    src: url(../fonts/BootsAndSpurs.ttf) format("truetype");  
}

/*Homepage*/
body {
    font-family: "Roboto", Verdana, Tahoma, sans-serif;
}

h1, 
h2, 
.logo {
    font-family: "Boots And Spurs", "Segoe UI", Tahoma, Verdana;
}

.product-list h2 {
    font-family: "Roboto", Verdana, Tahoma, sans-serif;
}

header {
    display: flex;
    align-content: center;
}

nav {
    margin-left: 25px;
}

nav ul {
    padding: 0px;
}

nav li {
    display: inline-block;
}

header, footer {
    background-color: #202020;
    color: white;
}

header a {
    color: white;
    padding: 10px;
}

footer {
    text-align: center;
}

/* Links */
.cta {
    background-color: #BB0000;
    color: white;
    font-size: 1em;
    padding: 10px 80px;
    border-radius: 5px;
    text-transform: uppercase;
}

.cta-small {
    font-size: 0.8em;
    padding: 8px 30px;
}

.cta-sale {
    background-color:#127300;
}

a { 
    text-decoration: none;
}

.active {
    text-decoration: underline;
}

/* Home page */
.welcome {
    background-image: url("../images/home-header.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    min-height: 70vh;
    position: relative;
}

.welcome_content {
    position: absolute;
    text-align: center;
    left: 100px;
    top: 100px;
}

.selling-points {
    font-size: 20px;
    margin: 50px auto;
}

.reviews_content,
.selling-points {
  max-width: 1000px;
  display: flex;
}

.selling-points > *,
.reviews_content > * {
    flex: 1;
}

.selling-points-image {
    border-radius: 100px;
    width: 100%
}

.reviews {
    background-color: #d3d3d3;
    text-align: center;
    padding: 50px;
}

.reviews_content {
    text-align: left;
    margin: auto;
}

.reviews_content div {
    margin: 50px;
}

.reviewphoto {
    width: 80px;
    border-radius: 50%;
    float: right;
}

.reviews_name {
    display: block;
}

/* Contact page */
input,
select,
textarea {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  margin: 10px 10px 10px 0px;
  padding: 10px;
}

textarea {
    height: 65%;
}

.contact-content {
    text-align: center;
    max-width: 1000px;
    margin: 50px auto;
}

.form-wrapper {
    display: flex;
    text-align: left;
}

.form-wrapper > * {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* product specific page */
.product-specific {
    display: flex;
    max-width: 1000px;
    margin: 50px auto;
}

.product-specific > * {
    flex: 1;
}

.adirondack-info {
    padding: 0px 30px;
}

.adirondack-info a {
    display: block;
    width: 95.767px;
    margin: auto;
}

.price {
    font-size: 1.5em;
}

.product-image {
    width: 100%;
}

.product-image-thumbnails {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 5px;
}
